*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.login-container{
    width:100%;
    min-height:100vh;
    background:linear-gradient(135deg,#4b9af0,#00B4FF,#5DE0E6);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-box{
    width:100%;
    max-width:420px;
    background:rgba(255,255,255,0.12);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(20px);
    border:1px solid rgba(255,255,255,0.3);
    padding:40px;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,0.25);
}
.login-box ::placeholder{
    color: white;
}

.login-box h1{
    text-align:center;
    color:#fff;
    margin-bottom:10px;
    font-size:30px;
}

.login-box p{
    text-align:center;
    color:#fff;
    margin-bottom:30px;
}

.login-box input{
    width:100%;
    padding:14px;
    border:1px solid rgba(255,255,255,0.25);
    background: rgba(255,255,255,0.3);
    color: #fff;
    border-radius:14px;
    margin-bottom:18px;
    font-size:16px;
    outline:none;
    transition:.3s;
}

.login-box input:focus{
    border-color:#0d6efd;
}

.password-box{
    position:relative;
}

.password-box span{
    position:absolute;
    right:15px;
    top:14px;
    cursor:pointer;
    font-size:18px;
}

.forgot{
    text-align:right;
    margin-bottom:20px;
}

.forgot span{
    color:#fff;
    cursor:pointer;
    font-size:14px;
}

.forgot span:hover{
    text-decoration:underline;
}

.login-box button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:14px;
    background:linear-gradient(90deg,#00A8FF,#0084FF);
    color:#fff;
    font-size:16px;
    cursor:pointer;
    margin-top:10px;
    transition:.3s;
    box-shadow: 0 8px 20px rgba(0,132,255,.45);
}

.login-box button:hover{
    background:#0b5ed7;
}

.back-btn{
    background:#6c757d !important;
}

.back-btn:hover{
    background:#5a6268 !important;
}

/* Mobile Responsive */

@media(max-width:768px){

.login-box{
    padding:25px;
}

.login-box h1{
    font-size:24px;
}

.login-box input{
    padding:12px;
}

.login-box button{
    padding:12px;
}

}